[submodule "os8diskserver"]
	path = os8-disk-server/os8diskserver
	url = git@github.com:drovak/os8diskserver.git
[submodule "minicom"]
	path = minicom
	url = git@github.com:UMDLARS/minicom.git
[submodule "simh"]
	path = simh
	url = git@github.com:simh/simh.git
